
# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native (Ignore these to avoid 10k+ files)
/ios
/android

# Native - bits and pieces if you ever eject
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files (Secrets)
.env
.env*.local

# typescript
*.tsbuildinfo

# SECRETS (Firebase & Keys)
GoogleService-Info.plist
google-services.json

# History & Editor junk
.history/
.vscode/
.idea/